* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh; }
  body .game {
    order: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body .game .side-menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      width: 15vw;
      border: 1px solid #555;
      background-color: white;
      margin-right: 0px; }
      body .game .side-menu .reset {
        width: 15vmin;
        height: 15vmin;
        background-color: #555;
        color: white; }
      body .game .side-menu .pickaxe {
        width: 15vmin;
        height: 15vmin;
        background: url(../img/pick_axe.png) no-repeat center center/cover;
        margin-top: 10%;
        border: 1px solid #555; }
      body .game .side-menu .shovel {
        width: 15vmin;
        height: 15vmin;
        background: url(../img/shovel.png) no-repeat center center/cover;
        border: 1px solid #555; }
      body .game .side-menu .axe {
        width: 15vmin;
        height: 15vmin;
        background: url(../img/axe.png) no-repeat center center/cover;
        border: 1px solid #555; }
      body .game .side-menu .last-picked {
        width: 15vmin;
        height: 15vmin;
        background-color: white;
        border: 1px solid #555; }
      body .game .side-menu .none {
        background-color: #00BFFF; }
      body .game .side-menu .dirt {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Dirt.png) no-repeat center center/cover; }
      body .game .side-menu .grass {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Grass.png) no-repeat center center/cover; }
      body .game .side-menu .stone {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/stone1.png) no-repeat center center/cover; }
      body .game .side-menu .wood {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/wood.png) no-repeat center center/cover; }
      body .game .side-menu .leaves {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Leaves.png) no-repeat center center/cover; }
      body .game .side-menu .sky {
        width: 10%vmin;
        height: 10%vmin;
        background-color: #00BFFF; }
      body .game .side-menu .cloud {
        width: 10%vmin;
        height: 10%vmin;
        background-color: white; }
      body .game .side-menu .selected {
        width: 10%vmin;
        height: 10%vmin;
        background-color: #555; }
      body .game .side-menu .last-picked-click {
        width: 15vmin;
        height: 15vmin;
        background-color: white;
        border: 3px solid #555; }
    body .game .game-board {
      width: 85%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(20, 1fr);
      grid-template-columns: repeat(20, 1fr);
      align-self: flex-start; }
      body .game .game-board .none {
        background-color: #00BFFF; }
      body .game .game-board .dirt {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Dirt.png) no-repeat center center/cover; }
      body .game .game-board .grass {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Grass.png) no-repeat center center/cover; }
      body .game .game-board .stone {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/stone1.png) no-repeat center center/cover; }
      body .game .game-board .wood {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/wood.png) no-repeat center center/cover; }
      body .game .game-board .leaves {
        width: 10%vmin;
        height: 10%vmin;
        background: url(../img/Leaves.png) no-repeat center center/cover; }
      body .game .game-board .sky {
        width: 10%vmin;
        height: 10%vmin;
        background-color: #00BFFF; }
      body .game .game-board .cloud {
        width: 10%vmin;
        height: 10%vmin;
        background-color: white; }
      body .game .game-board .selected {
        width: 10%vmin;
        height: 10%vmin;
        background-color: #555; }
      body .game .game-board .last-picked-click {
        width: 15vmin;
        height: 15vmin;
        background-color: white;
        border: 3px solid #555; }
